<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://pixabay.com/images/id-4186151/" alt="" width="30" height="24" class="d-inline-block align-text-top"> GitHub-Search
        </a>
    </div>
</nav>
<div class="container container-fluid">
    <div class="card mt-4 p-4">
        <div class="card-tittle">
            Find a User
        </div>
        <div class="card-body">
            <app-search-form></app-search-form>
            <app-user-details></app-user-details>
            <app-repositories></app-repositories>
        </div>
    </div>
</div>