<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="fa-solid fa-computer"></i> GitHub-Search
        </a>
    </div>
</nav>
<div class="container container-fluid">
    <div class="card mt-4 p-4" id="meja">
        <div class="card-tittle">
            Find a User
        </div>
        <div class="card-body">
            <router-outlet></router-outlet>
            <!-- <app-search-form></app-search-form>
            <app-user-details></app-user-details>
            <app-repositories></app-repositories> -->
        </div>
    </div>
</div>