<nav class="searchForm">
    <h4 class="text-center">Welcome to GitHub-Search. <br> Enter a gutHub username below to search for a user and their repositories.</h4>
    <div class="container-fluid">
        <form action="submit" #searchForm="ngForm" (ngSubmit)="searchUser()">
            <input [(ngModel)]="githubUserQuery" name="githubUserQuery" id="ingiza" class="form-control me-2" type="search" placeholder="Find User" aria-label="Search" required>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- <section class="container container-fluid">
    <div class="col-md-3 mt-4">
        <div class="card" id="profile">
            <img [src]="repoData.image" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">{{repoData.username}}</h5>
                <p class="card-text">{{repoData.bio}}</p>
                <div class="row">
                    <i class="fa-light fa-user-group"></i>
                    <div class="col">{{repoData.followers}} followers</div>
                    <div class="col">{{repoData.following}} following</div>
                </div>
                <p class="card-text">{{repoData.location}}</p>
                <p class="card-text">{{repoData.twitter}}</p>
            </div>
        </div>
    </div>

navbar navbar-light bg-light

</section> -->