#meja {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
    padding: 12px; */
    /* height: 60vh; */
    /* width: fit-content; */
    border-radius: 8px;
}

.wrapper {
    border: 1px solid rgb(4, 4, 30);
}

#userProfile {
    border-radius: 5px;
    background-color: #ECF9FA;
    box-shadow: 10px 10px 5px rgb(53, 66, 71);
    /* float: left; */
    margin: 3vh 10px 10px 0;
}

#userRepositories {
    background-color: #CFE1E1;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgb(53, 66, 71);
    margin: 3vh 10px 10px 0;
    /* padding: 3px; */
}

.kadi {
    background-color: #6E9495;
    display: flex;
    justify-content: center;
    width: 350px;
    height: 250px;
    border: border-box;
}

.kadi:hover {
    box-shadow: 10px 10px 5px rgb(53, 66, 71);
}

a#view.btn.ms-5 {
    border: solid black 2px;
    font-weight: 150;
    color: rgb(4, 4, 30);
}

a#view.btn.ms-5:hover {
    background-color: #FBE790;
    box-shadow: 6px 6px 3px rgb(4, 4, 30);
}